/*
* Personal css files
*/
@font-face {
  font-family: regularfont;
  src: url(../fonts/lmroman10-regular.otf);
}


@font-face {
  font-family: boldfont;
  src: url(../fonts/lmroman10-bold.otf);
}


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-family: regularfont;
  font-size: 16px;
  line-height: 1.4;
  color: black;
  text-align: center;
}

html a, body a {
  text-decoration: none;
  font-weight: bold;
}

html {
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: normal;
  }
}

body {
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: normal;
  }
}

html img, body img {
  max-width: 100%;
}

html svg, body svg {
  max-height: 100%;
}

html .mt, body .mt {
  margin-top: 1em;
}

* {
  position: relative;
  box-sizing: border-borderox;
  -webkit-overflow-scrolling: touch;
}

header {
  .logo {
    max-width: 160px;
    width: 100%;
    margin: auto;
    display: block;
    margin-top: 1em;
	border-radius: 50%;
  }
  .name {
    font-family: boldfont;
    font-size: 2.5em;
  }
}

nav, .foot {
  .ruler {
    background: black none repeat scroll 0% 0%;
    border: 0px none;
    height: 1px;
    margin-bottom: 4px;
  }
  .joker {
    height: 1em;
  }
  .nav-pills {
    display: inline-block;
    li > a {
      font-size: 1.2em;
      &:hover {
        background: transparent !important;
		text-decoration: none !important;
      }
    }
  }
}

footer {
  padding: 2em 0;
  margin-top: 4em;
}

.emoji {
  width: 27px;
}

.calendar .border {
  border-style: none;
}

.work {
  margin-top: 1em;
  .experience {
    margin-top: 70px;
    ul {
      text-align: left;
    }
    .panel-thumbnail-img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-top: -70px;
      margin-bottom: 5px;
      border-radius: 100%;
    }
    h3 {
      margin-top: 0px;
    }
    h4, i {
      color: #616f67;
    }
  }
  h2 {
    margin: 0 0 1em 0;
  }
  .panel-heading {
    height: 150px;
    background-size: cover;
  }
}

.markdown-body {
  text-align: initial;
}

.instagram {
  h2 {
    margin-bottom: 1em;
  }
  img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin: 0 -5px 0 0;
  }
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .6;
  &:before {
    content: '';
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #616f67, rgba(0, 0, 0, 0));
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    color: #242424;
    background-color: #fcfcfa;
  }
}
