{% extends "_layouts/base.html"  %}


{% block title %}{{ object.get_full_name }} - {{ block.super }}{% endblock title %}

{% block content%}
<div class="row mt">
	<article class="markdown-body col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong><i class="fa fa-stack-overflow" aria-hidden="true"></i> README.md</strong>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						{{ readme|safe }}
					</div>
				</div>
			</div>
		</div>
	</article>
</div>
{% endblock %}
