{% extends "_layouts/base.html"  %}
{% load static from staticfiles %}

{% block title %}{{ object.title | title }} - {{ block.super }}{% endblock title %}

{% block twitter %}
<meta name="twitter:title" content="{{ object.title|safe }}"></meta>
{% if object.thumbnail %}
<meta name="twitter:image:src" content="{{ object.thumbnail.url }}"></meta>
{% endif %}
{% endblock %}

{% block content %}

<div class="posts text-left">
	<div class="post">
		<h1>
			{{ object.title|safe }}
		</h1>
		<hr class="hr-text" data-content="{{ object.published_at|date:"M Y" }}">
		<p>
		<a href="{{ object.get_absolute_url }}">
			{% if object.thumbnail %}
			<div class="image" style="background-image: url({{ object.thumbnail.url }});"></div>
			{% endif %}
		</a>
		</p>
		<div class="col-md-8 col-md-offset-2 row">
			<div class="col-md-10 col-md-offset-1">
				<p>
				{{ object.content|safe }}
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock content %}


{% block footer%}
<script src="{% static 'script/vendor/highlight.min.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
